# будут игнорироваться все папки и файлы Thumbs.db
# вне зависимости, где они находятся
Thumbs.db

# будут игнорироваться все папки и файлы .DS_Store
# вне зависимости, где они находятся
*.DS_Store

# будет игорироваться каталог tmp
/tmp/

# будут игнорироваться все файлы с суффиксами _old
# вне зависимости, где они находятся
*_old


# будут игнорироваться все файлы с суффиксами _backup
# вне зависимости, где они находятся
*_backup